<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>薇閣小學資訊設備借用申請表</title>
    <link rel="canonical" href="https://joejiang-sys.github.io/forms/"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="dist/style.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="double-wrap" :class="{ hide: !loading }">
        <div class="double">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <section class="form w-640">
        <div class="text-center">
          <h1>薇閣小學資訊設備借用申請表</h1>
        </div>
        <div class="text-left">
            <h3>1. 借用人需於使用日期3天前，提出申請登記，並由資訊中心安排設備。<br>
              2. 借用申請的填單日期與借用日期僅限30天內。<br>
              3. 設備借用日為期1日，用畢當日歸還。欲借超過1日，敬請由單位主管核示。<br>
              4. 請妥善保管與使用，若人為疏失，導致設備損壞或遺失時，需負賠償責任。<br>
              5. iPad借用如需安裝使用特定App，請於用途說明內填寫App名稱。<br>
              6. 如有借用之問題，敬請聯繫分機208。</h3>
        </div>
        <div class="form-group">
          <label for="category">設備類別</label>
        </div>
        <div id="category">
          <label><input type="radio" name="label" value="iPad" v-model="person.category" @change="clearDate"><span class="round button">iPad</span></label>
          <label><input type="radio" name="label" value="DV" v-model="person.category" @change="clearDate"><span class="round button">DV</span></label>
          <label><input type="radio" name="label" value="光碟機" v-model="person.category" @change="clearDate"><span class="round button">光碟機</span></label>
          <label><input type="radio" name="label" value="教學提示機" v-model="person.category" @change="clearDate"><span class="round button">教學提示機</span></label>
          <label><input type="radio" name="label" value="其他" v-model="person.category" @change="clearDate"><span class="round button">其他</span></label>
        </div>
        <div class="form-group">
          <label for="main_date">借用日期</label>
          <input class="form-control" id="main_date" type="date" v-model="main_date" @change="clearClassroom" readonly/>
        </div>
        <div class="form-group">
          <label for="borrower">借用人（人事編號）</label>
          <input class="form-control" id="borrower" type="text" oninput="if(value.length>3)value=value.slice(0,3)" v-model="person.borrower"/>
        </div>
        <div class="form-group">
          <label for="message">用途說明</label>
          <input class="form-control" id="message" type="text" v-model="person.message"/>
        </div>
        <div class="form-group">
          <label for="classroom">使用課堂</label>
            <div id="checkbox">
                  <label v-for="(session, index) in sessions" :key="index">
                    <input type="checkbox" v-model="person.classroom" :value="session.name"/>
                    <span 
                      class="round button" 
                      :class="{'selected': person.classroom.includes(session.name)}"
                    >
                      {{ session.name }}
                    </span>
                    <span class="session-info">
                      {{ session.remaining }}
                    </span>
                    <span>
                      {{ session.borrow }}
                    </span>
                  </label>
                </div>
            </div>
        <div class="form-group">
          <label for="num">借用數量</label>
          <input class="form-control" id="num" type="number" v-model="person.num"/>
        </div>
        <div class="form-group">
          <label for="end_date">預計歸還日期</label>
          <input class="form-control" id="end_date" type="date" v-model="person.end_date" readonly/>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              // 基本設置
              var config = {
                  minDate: "today",  // 限制只能選擇今天或之後的日期
                  maxDate: new Date().fp_incr(29),  // 最大日期設為今天往後推算30天
                  dateFormat: "Y-m-d"  // 設定日期格式為 yyyy-mm-dd
              };
  
              // 初始化 main_date 選擇器
              var mainDatePicker = flatpickr("#main_date", config);
  
              // 初始化 end_date 選擇器，動態設置最小日期
              var endDatePicker = flatpickr("#end_date", {
                  ...config,
                  minDate: "today", // 預設最小日期為今天
              });
  
              // 當 main_date 改變時，更新 end_date 的最小日期
              document.getElementById('main_date').addEventListener('change', function() {
                  var mainDate = mainDatePicker.selectedDates[0]; // 取得 main_date 選擇的日期
                  if (mainDate) {
                      // 更新 end_date 的最小可選日期
                      endDatePicker.set('minDate', mainDate);
                  }
              });
          });
          </script>
        <div class="submit"><a href="#" @click.prevent="submit">送出</a></div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="dist/main.min.js"></script>
  </body>
</html>
